@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    /* background-color: black !important; */
    font-family: 'Montserrat', sans-serif !important;
}
:root{
    --primary: #ffb703;
    --main: #008000;
}
/* styling header */
.navbar{
    background-color: var(--primary);
    padding: 2% 0 !important;
    position: relative;
}
.call{
    position: absolute;
    bottom: 88%;
    left: 70%;
    display: flex;
    gap: 10px;
    top: 10px;
}
.call p{
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
}
.call h1{
    color: var(--main);
    font-weight: 900;
    font-size: 30px;
}
.call i{
    font-size: 45px;
    color: var(--main);
}
.navbar img{
    width: 300px;
}
.container .navbar-brand{
    font-size: 2rem;
}
.navbar-nav{
    gap: 20px;
    padding-top: 7%;
}
.navbar-nav a{
    color: black !important;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
}
.navbar-nav a:hover{
    color: var(--main) !important;
}
/* styling header done */

/* styling banner */
.banner{
    background: url(../img/thought-catalog-23KdVfc395A-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.banner h2{
    text-align: center;
    text-transform: capitalize;
    color: white;
    padding-top: 20%;
    font-size: 3rem;
}
/* styling banner done */

/* styling content */
.first h1{
    font-size: 6rem;
    color: var(--main);
    font-weight: 900;
}
/* .firstrow{
    overflow: scroll;
    height: 400px;
    width: 50%;
} */
.firstrow h1{
    font-size: 6rem;
    color: white;
}
.firstrow p{
    font-size: 1.6rem;
    color: black;
    line-height: 1.8;
}
.firstrow img{
    height: 350px;
}
.box{
    text-align: center;
}
.box h2{
    color: white;
    font-size: 4rem;
}
.box p{
    color: #bebebe;
    font-size: 1.6rem;
}
.box img{
    height: 250px;
}
.secrow{
    background-color: white;
}
.secrow .left p{
    font-size: 2rem;
    margin-bottom: 0%;
    font-weight: 900;
    text-transform: capitalize;
}
.secrow h1{
    margin-top: 0%;
    font-weight: 900;
    font-size: 5rem;
    text-transform: capitalize;
    color: var(--main);
}
.secrow ul{
    margin-top: 10%;
}
.secrow ul li{
    /* border: 1px solid black; */
    margin-bottom: 5%;
    padding: 5% 0;
    background-color: white;
    position: relative;
}
.secrow ul li:hover{
    background-color: var(--primary);
    cursor: pointer;
    color: white;
}
.secrow ul li span{
    position: absolute;
    left: 90%;
}
.secrow ul i{
    font-weight: bolder;
    font-size: 1.8rem;
    color: var(--main);
}
.secrow ul a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2rem;
    margin-left: 5%;
    font-weight: 900;
    color: black;
}
.secrow .left{
    background-color: whitesmoke;
    padding: 5% 3%;
    margin-top: 0%;
}
.secrow .right{
    padding: 5% 3%;
}
.secrow .right p{
    font-size: 2rem;
    text-transform: capitalize;
}
.secrow .right h2{
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 900;
}
.secrow .right .cont{
    font-size: 1.6rem;
    text-transform: none;
    margin-top: 3%;
}
.secrow .right img{
    margin-top: 5%;
    position: relative;
}
.right .appoint{
    border: 1px solid gray;
    width: 35%;
    display: flex;
    position: absolute;
    background-color: white;
    padding: 2%;
    top: 280%;
    left: 62%;
}
.right .appoint p{
    font-size: 1.6rem;
}
.right .appoint i{
    font-size: 5rem;
    color: var(--main);
}
.right .appoint .sidea{
    align-self: center;
}
.right .appoint .sideb .title{
    font-size: 2.5rem;
}
.right .appoint .sideb span{
    font-weight: 900;
}
.right .appoint .sideb{
    margin-left: 10%;
}
/* styling content done */

/* styling footer */
.foot{
    background-color: var(--primary);
}
.foot .row{
    /* text-align: center; */
    font-size: 1.6rem;
    padding: 10px 0;
}
.foot img{
    width: 300px;
    padding-top: 10%;
}
.foot h2{
    text-transform: capitalize;
    padding-top: 5%;
    font-weight: 900;
}
.foot i{
    font-size: 35px;
    color: var(--main);
}
.foot .info p{
    padding-top: 2%;
}
.lastrow{
    display: flex;
    justify-content: space-between;
}
.lastrow .left{
    font-size: 1.6rem;
}
.lastrow .right ul{
    display: flex !important;
    list-style: none;
    gap: 30px;
}
.lastrow .right ul a{
    font-size: 1.6rem;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
}
.lastrow .right ul a:hover{
    color: var(--main);
}
/* styling footer done */

/* styling services */
.left img{
    height: 350px;
}
.right li{
    font-size: 2rem;
    color: #bebebe;
    text-transform: uppercase;
}
.servicerow{
    padding: 5% 0;
}
.serverow{
    background-color: whitesmoke;
    text-align: center;
}
.serverow h1{
    font-size: 4rem;
    color: var(--main);
}
.serverow .row{
    padding: 5%;
}
.serverow img{
    height: 350px;
    width: 350px;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
    margin-bottom: 7%;
}
.serverow h2{
    font-size: 2.5rem;
    margin-bottom: 7%;
}
.serverow p{
    font-size: 1.6rem;
    margin-bottom: 7%;
}
/* styling services done */

/* styling contact */
.contact{
    background: whitesmoke;
}
.contact h1{
    font-size: 4rem;
}
.contact .row{
    width: 80%;
    margin: 0 auto;
}
.contact .row h3{
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--main);
    margin-bottom: 5%;
}
.contact .row p{
    font-size: 1.6rem;
    margin-bottom: 5%;
}
.contact .row label{
    font-size: 1.6rem;
}
.contact .row button{
    background-color: var(--main);
    font-size: 1.8rem;
    padding: 10px 15px;
    color: white;
}
.contact .row button:hover{
    background-color: #6ede8a;
    color: black;
}
.contact .row .right img{
    height: 350px;
}
/* styling contact done */

@media (min-width: 300px) and (max-width: 500px) {
    .call{
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        top: 30%;
        position: static;
        padding: 5% 10%;
        text-align: center;
    }
    .call p{
        font-size: 1.6rem;
        color: black;
        font-weight: bold;
    }
    .call h1{
        color: var(--main);
    }
    .call i{
        font-size: 20px;
        color: black;
    }
    .navbar{
        background-color: var(--primary);
        padding: 2% 0 !important;
        border-bottom: 2px solid white;
    }
    .navbar img{
        width: 200px;
    }
    .banner{
        background: url(../img/thought-catalog-23KdVfc395A-unsplash.jpg);
        background-size: cover;
        background-position: center;
        height: 60vh;
    }
    .banner h2{
        text-align: center;
        text-transform: capitalize;
        color: white;
        padding-top: 50%;
        font-size: 3rem;
    }
    .firstrow{
        text-align: center;
    }
    .first h1{
        font-size: 4rem;
        color: var(--main);
    }
    .firstrow img{
        height: 200px;
    }
    .box img{
        height: 230px;
    }
    .box h2{
        color: white;
        font-size: 3rem;
    }
    .left img{
        height: 240px;
    }
    .secrow .right img{
        margin-top: 5%;
        position: relative;
        margin-bottom: 40%;
        height: 250px;
        margin-left: 25%;
    }
    .right .appoint{
        border: 1px solid gray;
        width: 90%;
        display: none;
        position: absolute;
        background-color: white;
        padding: 2%;
        top: 505%;
        left: 5%;
    }
    .servicerow .right{
        margin-top: 10%;
    }
    .serverow img{
        height: 250px;
        width: 250px;
        border-radius: 100%;
        object-fit: cover;
        object-position: top;
        margin-bottom: 7%;
    }
    .contact .row{
        width: 100%;
    }
    .contact .row .right img{
        height: 230px;
        margin-top: 5%;
    }
    .foot{
        background-color: var(--primary);
        text-align: center;
    }
    .foot .row{
        /* text-align: center; */
        font-size: 1.6rem;
        padding: 10px 0;
    }
    .foot img{
        width: 200px;
        padding-top: 10%;
    }
    .foot h2{
        text-transform: capitalize;
        padding-top: 5%;
    }
    .foot i{
        font-size: 35px;
        color: var(--main);
    }
    .foot .info p{
        padding-top: 2%;
    }
    .lastrow{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .lastrow .left{
        font-size: 1.6rem;
    }
    .lastrow .right ul{
        display: flex !important;
        justify-content: center;
        list-style: none;
        gap: 20px;
    }
    .lastrow .right ul a{
        font-size: 1.6rem;
        text-transform: capitalize;
        text-decoration: none;
        color: black;
    }
    .lastrow .right ul a:hover{
        color: var(--main);
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    .call{
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        top: 30%;
        position: static;
        padding: 5% 10%;
        text-align: center;
    }
    .call p{
        font-size: 1.6rem;
        color: black;
        font-weight: bold;
    }
    .call h1{
        color: var(--main);
    }
    .call i{
        font-size: 20px;
        color: black;
    }
    .navbar{
        background-color: var(--primary);
        padding: 2% 0 !important;
        border-bottom: 2px solid white;
    }
    .navbar img{
        width: 200px;
    }
    .banner{
        background: url(../img/thought-catalog-23KdVfc395A-unsplash.jpg);
        background-size: cover;
        background-position: center;
        height: 60vh;
    }
    .banner h2{
        text-align: center;
        text-transform: capitalize;
        color: white;
        padding-top: 40%;
        font-size: 3rem;
    }
    .firstrow{
        text-align: center;
    }
    .first h1{
        font-size: 4rem;
        color: var(--main);
    }
    .firstrow img{
        height: 250px;
    }
    .box img{
        height: 230px;
    }
    .box h2{
        color: white;
        font-size: 3rem;
    }
    .left img{
        height: 240px;
    }
    .secrow .right img{
        margin-top: 5%;
        position: relative;
    }
    .right .appoint{
        border: 1px solid gray;
        width: 60%;
        display: flex;
        position: absolute;
        background-color: white;
        padding: 2%;
        top: 500%;
        left: 30%;
    }
    .servicerow .right{
        margin-top: 10%;
    }
    .serverow img{
        height: 250px;
        width: 250px;
        border-radius: 100%;
        object-fit: cover;
        object-position: top;
        margin-bottom: 7%;
    }
    .contact .row{
        width: 100%;
    }
    .contact .row .right img{
        height: 230px;
        margin-top: 5%;
    }
    .foot{
        background-color: var(--primary);
        text-align: center;
    }
    .foot .row{
        /* text-align: center; */
        font-size: 1.6rem;
        padding: 10px 0;
    }
    .foot img{
        width: 200px;
        padding-top: 10%;
    }
    .foot h2{
        text-transform: capitalize;
        padding-top: 5%;
    }
    .foot i{
        font-size: 35px;
        color: var(--main);
    }
    .foot .info p{
        padding-top: 2%;
    }
    .lastrow{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .lastrow .left{
        font-size: 1.6rem;
    }
    .lastrow .right ul{
        display: flex !important;
        justify-content: center;
        list-style: none;
        gap: 20px;
    }
    .lastrow .right ul a{
        font-size: 1.6rem;
        text-transform: capitalize;
        text-decoration: none;
        color: black;
    }
    .lastrow .right ul a:hover{
        color: var(--main);
    }
}

@media (min-width: 768px) and (max-width: 1200px){
    .firstrow img{
        height: 230px;
    }
    .secrow .right img{
        margin-top: 5%;
        position: relative;
    }
    .right .appoint{
        border: 1px solid gray;
        width: 40%;
        display: flex;
        position: absolute;
        background-color: white;
        padding: 2%;
        top: 380%;
        left: 60%;
    }
}